@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/transitions' as t;

.dashboard-nav__container {
  padding-bottom: 50px;
}

.roomNav {
  &-details {
    user-select: none;
    padding: v.$padding v.$padding * 0.5;
    border-radius: v.$radius;
    transition: t.$pong;

    &[open],
    &:hover {
      background: v.$bg1;
    }
  }

  &-summary {
    cursor: pointer;
    list-style-position: inside;
    list-style-type: '⬐ ';

    &::marker {
      font-size: v.$fP;
      color: v.$fn1;
    }

    &__path {
      justify-content: center;
      margin-bottom: v.$padding;

      @include d.flex($dir: row, $ali: center);

      &.active,
      &:hover {
        svg,
        p {
          color: v.$tn1;
        }
      }
    }
  }

  &-details[open] &-summary {
    list-style-type: '⬑ ';
  }

  &-consulting {
    @include d.flex;

    &__go,
    &__social {
      @include d.flex($dir: row, $ali: center);
    }

    &__go {
      justify-content: center;

      padding: v.$padding 0;
      border-radius: v.$radius;

      text-align: center;

      background-color: v.$bg1;
    }

    &__social {
      justify-content: space-evenly;
    }
  }
}
