@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.dashboard-nav__container {
  padding-bottom: 50px;
}

.roomNav {
  &-details {
    cursor: pointer;
    user-select: none;
    padding: v.$padding v.$padding * 0.5;
    border-radius: v.$radius;

    &[open],
    &:hover {
      background-color: v.$bg1;
    }
  }

  &-summary {
    list-style-position: inside;
    list-style-type: '⬐ ';

    &::marker {
      font-size: v.$fP;
      color: v.$fn1;
    }

    h5 {
      display: inline-block;
      margin-left: v.$padding * 0.5;
    }
  }

  &-details[open] &-summary {
    list-style-type: '⬑ ';
  }

  &-paths {
    @include d.flex($gap: v.$padding * 0.5, $ali: center);

    padding-top: v.$padding;
  }

  &-path {
    width: 150px;

    @include d.flex($dir: row, $ali: center, $gap: 5px);

    &.active,
    &:hover {
      svg,
      p {
        color: v.$tn1;
      }
    }
  }

  &-consulting {
    @include d.flex;

    &__go,
    &__social {
      @include d.flex($dir: row, $ali: center);
    }

    &__go {
      justify-content: center;

      padding: v.$padding 0;
      border-radius: v.$radius;

      text-align: center;

      background-color: v.$bg1;
    }

    &__social {
      justify-content: space-evenly;
    }
  }
}
