@use '@sass/config/vars' as v;
@use '@sass/config/extraColors' as extra;
@use '@sass/utils/defs' as d;
@use 'sass:color';

.conditionalDayButton {
  @include d.flex($dir: row);

  background-color: v.$bg1;

  @each $tag, $value in extra.$listStayUsers {
    &#{$tag} {
      background-color: $value;

      p,
      svg {
        color: color.adjust($value, $lightness: -70%);
      }
    }
  }
}
