@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;

$CCalendarHeight: 230px + v.$padding;

.cuteCalendar {
  @extend %scroll-hidden;

  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 230px;

  @include d.flex($dir: row);

  &-item {
    @include d.flex($dir: row, $ali: center);

    position: relative;

    &::before {
      content: '';

      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      width: 30px;
      height: 20px;
      border: 3.5px dotted v.$tn1;
    }
  }
}
