@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '@styles/utils/scrollbar' as *;

$CCalendarHeight: 230px + v.$padding;
.CCalendar {
  @include d.flex($dir: row, $gap: v.$padding * 1.5);
  flex-wrap: wrap;
  justify-content: center;
  height: $CCalendarHeight;
  overflow-y: auto;
  padding-bottom: v.$padding;
  @extend %scroll-hidden;
  width: 100%;
  &-data {
    @include d.flex($dir: row, $ali: center);
    position: relative;
    &::before {
      content: '';
      height: 10px;
      width: 100%;
      position: absolute;
      border: 3.5px dotted v.$tn1;
    }
  }
}

.RBusyDays {
  background-color: v.$bg2;
  @include d.flex($gap: 5px, $ali: flex-end);
  padding: v.$padding;
  border-radius: v.$radius;
  > a {
    font-size: v.$fH5;
    font-weight: 500;
    color: v.$tn1;
  }
  &-action {
    width: fit-content;
    @include d.flex($dir: row, $ali: center, $gap: 5px);
    background-color: v.$bg1;
    margin-right: v.$padding * 2;
    margin-bottom: v.$padding;
  }
  &.active {
    .CCalendar {
      height: $CCalendarHeight * 2.2;
    }
  }
  > h2,
  > p,
  > a {
    text-align: center;
    margin: auto;
  }
}
