@use '@styles/utils/scrollbar';
@use '@styles/config/vars' as *;
@use '@styles/utils/media' as m;

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;

  --fnt-primary: #000000;
  --fnt-secondary: #101820;

  --tn-primary: #4f54dc;
  --tn-secondary: #7d81e7a6;

  --disable-primary: #777588;
  --disable-secondary: #7775886f;

  --xl-font-size: 5em;
  --h1-font-size: 2em;
  --h2-font-size: 1.8em;
  --h3-font-size: 1.6em;
  --h4-font-size: 1.4em;
  --h5-font-size: 1.3em;
  --p-font-size: 1.1em;
  --span-font-size: 1em;
  --small-font-size: 0.9em;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  width: 100vw;
  overflow: hidden auto;
  height: 100vh;
  font-size: $family-size;
  background-color: $bg1;
  font-family: $family;
  color: $fn1;
  @extend %scroll-hidden;
  position: relative;
  line-height: 1.25;
}

$listOfFontsSize: (
  '.title': $fXl,
  'h1': $fH1,
  'h2': $fH2,
  'h3': $fH3,
  'h4': $fH4,
  'h5': $fH5,
  'p': $fP,
  'span': $fSpan,
  'small': $fSmall
);

@each $tag, $value in $listOfFontsSize {
  #{$tag} {
    font-size: $value;
  }
}

h1,
h2,
h3 {
  color: $fn1;
}

h4,
h5,
p,
a,
span,
small,
input,
textarea,
button {
  color: $fn2;
  font-family: $family;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 600;
}

p,
input,
textarea,
button {
  font-weight: 400;
}

span,
small {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p,
a,
span,
small,
input,
textarea,
button {
  text-wrap: pretty;
}

textarea {
  resize: none;
  @extend %scroll-hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
}

small {
  font-style: italic;
}

.btn {
  padding: 8px 10px;
  border-radius: $radius;
}

@include m.smallerScreen() {
  body {
    font-size: 10px;
  }
}
