@use '@sass/utils/scrollbar';
@use '@sass/config/vars' as *;
@use '@sass/utils/media' as m;
@use '@sass/utils/text' as t;
@use '@sass/utils/hover' as h;
@use '@sass/utils/loader' as loader;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  @extend %scroll-hidden;

  position: relative;

  overflow: hidden auto;

  width: 100vw;
  height: 100vh;

  font-family: $font1;
  font-size: $family-size;
  line-height: 1.25;
  color: $fn1;

  background-color: $bg1;
}

$listOfFontsSize: (
  '.title': $fXl,
  'h1': $fH1,
  'h2': $fH2,
  'h3': $fH3,
  'h4': $fH4,
  'h5': $fH5,
  'p': $fP,
  'span': $fSpan,
  'small': $fSmall
);

@each $tag, $value in $listOfFontsSize {
  #{$tag} {
    font-size: $value;
  }
}

h1,
h2,
h3 {
  font-family: $font1;
  color: $fn1;
}

h4,
h5,
p,
a,
span,
small,
input,
textarea,
label,
button,
select {
  font-family: $font2;
  color: $fn2;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 700;
}

h4,
h5 {
  font-weight: 500;
}

.font3 {
  font-family: $font3;
}

p,
input,
textarea,
button,
select {
  font-size: $fP;
  font-weight: 400;
}

span,
small {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
}

p,
a,
span,
small,
input,
textarea,
button,
select {
  text-wrap: pretty;
}

textarea {
  @extend %scroll-hidden;

  resize: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;

  @include h.border;
}

input,
textarea,
select {
  border: none;

  &:focus {
    box-shadow: 0 0 0 2px $tn2;
  }
}

small {
  font-style: italic;
}

.btn {
  padding: 8px 10px;
  border-radius: $radius;

  @include h.border;
}

svg {
  display: block;
  width: 20px;
  height: 20px;
}

@include m.smallerScreen {
  body {
    font-size: 10px;
  }
}

.gr {
  @include t.textGradient;
}

.bgr {
  border: 2px solid transparent;

  font-size: $fH5;
  font-weight: 400;
  color: $bg1;

  opacity: 1;
  background-image: $gr1;

  &.inactive {
    cursor: not-allowed;
    user-select: none;

    border-color: $sk1;

    color: $fn1;

    opacity: 0.6;
    background-color: $sk2;
    background-image: none;
  }

  &.big {
    font-size: $fH5;
    font-weight: 500;
    text-align: center;
  }
}

.logo {
  display: block;

  min-width: 60px;
  height: 100%;
  padding: 5px 0;

  object-fit: cover;

  &-container {
    text-align: center;
  }
}

.lucide {
  display: block;
  width: 17px;
  height: 17px;
}

.skeleton {
  display: block;
  min-width: 20px;
  min-height: 20px;
  background-color: $sk2;

  &,
  &-co {
    border-radius: $radius;
    animation: bounce 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  &-co {
    background-color: $sk1;
  }

  @keyframes bounce {
    50% {
      opacity: 0.5;
    }
  }
}

.loading {
  @include loader.loader;
}
