:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;

  --fnt-primary: #000000;
  --fnt-secondary: #101820;

  --tn-primary: #4f54dc;
  --tn-secondary: #7d81e7a6;

  --disable-primary: #777588;
  --disable-secondary: #7775886f;

  --xl-font-size: 5em;
  --h1-font-size: 2em;
  --h2-font-size: 1.8em;
  --h3-font-size: 1.6em;
  --h4-font-size: 1.4em;
  --h5-font-size: 1.3em;
  --p-font-size: 1.1em;
  --span-font-size: 1em;
  --small-font-size: 0.9em;
}

$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$fSpan: var(--span-font-size);
$fSmall: var(--small-font-size);

$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);

$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);

$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);

$dis1: var(--disable-primary);
$dis2: var(--disable-secondary);

//other
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;

$radius: 5px;
$padding: 15px;
$icon: 20px;
$family-size: 12px;
$family: var(--roboto-flex), 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace',
  'Source Code Pro', 'Fira Mono', monospace, 'Segoe UI Emoji';
