@use 'sass:color';

:root {
  --bg-primary: #131317f5;
  --bg-secondary: #0d0d0ff5;
  --fnt-primary: #f9f4ff;
  --fnt-secondary: #a89db7;
  --tn-primary: #ffaefede;
  --tn-primary-transparent: #937fa81f;
  --tn-secondary: #7fb7ff;
  --disable-primary: #1c1b1a;
  --disable-secondary: #76487729;
  --skeleton-co: #100f13;
  --skeleton: #221d28;

  // Fonts
  --xl-font-size: 5em;
  --h1-font-size: 2em;
  --h2-font-size: 1.4em;
  --h3-font-size: 1.3em;
  --h4-font-size: 1.2em;
  --h5-font-size: 1.1em;
  --p-font-size: 1em;
  --span-font-size: 1em;
  --small-font-size: 0.9em;
}

[data-theme='light'] {
  --bg-primary: #f4f2fff5;
  --bg-secondary: #ecebfff5;
  --fnt-primary: #000;
  --fnt-secondary: #6f6f6f;
  --tn-primary: #946ef9;
  --tn-primary-transparent: #7649a21f;
  --tn-secondary: #ce9cff;
  --disable-primary: #47455e;
  --disable-secondary: #c7b3ff70;
  --skeleton-co: #f6f4ff;
  --skeleton: #efeaff;
}

$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$fSpan: var(--span-font-size);
$fSmall: var(--small-font-size);
$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);
$sk1: var(--skeleton-co);
$sk2: var(--skeleton);
$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);
$tn1: var(--tn-primary);
$tn1T: var(--tn-primary-transparent);
$tn2: var(--tn-secondary);
$dis1: var(--disable-primary);
$dis2: var(--disable-secondary);
$success: rgb(195 236 220 / 96%);
$warning: #f4d460d8;
$info: #a2a1ffcb;
$danger: #f86e6ebc;
$success_dark: rgb(19 85 58 / 83%);
$warning_dark: color.adjust($warning, $lightness: -40%);
$info_dark: color.adjust($info, $lightness: -40%);
$danger_dark: color.adjust($danger, $lightness: -50%);

// other
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;
$radius: 7px;
$padding: 10px;
$icon: 20px;
$family-size: 12px;
$family: 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', monospace;
$font1: var(--font1), $family;
$font2: var(--font2), $family;
$font3: var(--font3);
$gr1: linear-gradient(90deg, $tn1 0%, $tn2 100%);
$imgFilter: brightness(0.5) opacity(0.5);

@mixin toDark {
  [data-theme='dark'] & {
    @content;
  }
}
