$fXl: var(--xl-font-size);
$fH1: var(--h1-font-size);
$fH2: var(--h2-font-size);
$fH3: var(--h3-font-size);
$fH4: var(--h4-font-size);
$fH5: var(--h5-font-size);
$fP: var(--p-font-size);
$fSpan: var(--span-font-size);
$fSmall: var(--small-font-size);

$bg1: var(--bg-primary);
$bg2: var(--bg-secondary);

$fn1: var(--fnt-primary);
$fn2: var(--fnt-secondary);

$tn1: var(--tn-primary);
$tn2: var(--tn-secondary);

$dis1: var(--disable-primary);
$dis2: var(--disable-secondary);

$success: #a3ddc5d3;
$warning: #f4d460d8;
$info: #a2a1ffcb;
$danger: #f86e6ebc;

$success_dark: darken($success, 30);
$warning_dark: darken($warning, 30);
$info_dark: darken($info, 30);
$danger_dark: darken($danger, 30);

//other
$min-small-screen: 450px;
$small-screen: 576px;
$medium-screen: 820px;
$large-screen: 992px;
$extra-large-screen: 1200px;

$radius: 5px;
$padding: 15px;
$icon: 20px;
$family-size: 12px;
$family: var(--roboto-flex), 'Segoe UI Mono', 'Roboto Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', monospace, 'Segoe UI Emoji';

$gr1: linear-gradient(90deg, $tn1 0%, $tn2 100%);

@mixin color($color, $property: color) {
  body.dark & {
    #{$property}: $color;
  }
  & {
    #{$property}: darken($color, 30);
  }
}
@mixin toDark {
  body.dark & {
    @content;
  }
}
