@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.reserve {
  background-color: v.$bg1;
  border-radius: v.$radius;
  border: 2.5px dotted v.$sk2;
  height: auto;
  margin: v.$padding * 0.3;
  overflow: hidden;
  overflow: hidden;
  padding: v.$padding;
  position: relative;
  width: 330px;
  z-index: 1;
  @include d.flex($ali: center, $gap: v.$padding * 2);
  &-operations {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    background-color: v.$bg2;
    padding: 5px v.$padding;
  }
  &-operation {
    text-align: center;
    @include d.flex($gap: 10px);
    h4 {
      border-bottom: 2.5px dotted v.$fn2;
    }
  }
  &-room {
    span {
      font: v.$fSmall;
      font-weight: 200;
      text-wrap: wrap;
    }
  }
  &-details {
    width: 100%;
    @include d.flex();
  }
  &-detail {
    @include d.flex($gap: 0);
    flex-direction: row;
    h5 {
      min-width: fit-content;
      min-width: 200px;
    }
  }
  &-extra {
    width: 100%;
    @include d.flex($ali: center, $gap: 10px);
    flex-direction: row;
    justify-content: flex-end;
    &::before {
      content: '';
      width: 15px;
      display: block;
      height: 15px;
      position: relative;
      border-radius: 50%;
      background-color: v.$tn1;
    }
  }

  //actions buttons
  &-action {
    @include d.flex($gap: 5px, $dir: flex);
    position: absolute;
    left: 10px;
    top: 10px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    &.print {
      top: 45px;
    }
  }
}
