@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.header {
  justify-content: space-between;

  width: 100%;
  min-height: 60px;
  max-height: 60px;
  padding: 0 v.$padding * 3;
  border-end-start-radius: v.$radius * 2.5;

  background-color: v.$bg2;

  @include d.flex($dir: row, $ali: center);
}
