@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.header {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  justify-content: space-between;
  padding: 0 v.$padding * 3;
  &,
  &-account {
    @include d.flex($dir: row, $ali: center);
  }
  &-account {
    justify-content: center;
  }
  &-account button {
    &:first-child {
      background-color: transparent;
    }
    &:last-child {
      font-weight: 700;
      background-color: v.$tn1;
      color: white;
    }
  }
}
