@use '@sass/config/vars' as v;
@use '@sass/config/extraColors' as extra;
@use '@sass/utils/defs' as d;
@use 'sass:color';

.roomSlugs {
  position: absolute;
  z-index: 1;
  top: v.$padding;
  right: 5px;

  @include d.flex($ali: flex-end, $gap: 5px);
}

.roomSlug {
  @include d.flex($gap: 5px, $dir: row);

  cursor: help;
  position: relative;

  &-details {
    position: absolute;
    top: 0;
    right: 35px;

    width: 150px;
    padding: 5px;
    border-radius: 5px;

    visibility: hidden;
    opacity: 0;

    transition:
      opacity 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      visibility 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    p {
      text-wrap: wrap;
    }
  }

  &-icon:hover + &-details,
  &:hover > &-details {
    visibility: visible;
    opacity: 1;
  }

  &-icon {
    display: grid;
    place-content: center;

    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  @each $tag, $value in extra.$listSlugs {
    &#{$tag} {
      .roomSlug-icon,
      .roomSlug-details {
        background-color: rgba($value, 0.9);
      }

      summary {
        font-weight: 500;
        color: color.adjust($value, $lightness: -80%);
      }

      p,
      svg {
        color: color.adjust($value, $lightness: -60%);
        stroke: color.adjust($value, $lightness: -70%);
      }
    }
  }
}
