@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.dashboard-nav__container {
  padding-bottom: 50px;
}

.roomNav {
  &-container {
    @include d.flex;
    h3 {
      text-align: center;
    }
  }
  &-images {
    width: 100%;
    height: auto;
    @include d.flex($dir: row, $ali: center);
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    max-width: 250px;
    background-color: v.$bg1;
    padding: v.$padding;
    padding-bottom: v.$padding * 2.5;
    border-radius: v.$radius;
    height: 340px;
    @include d.flex($ali: end);
    p {
      font-style: italic;
      font-weight: 200;
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: v.$radius;
  }
}
