@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.dashboard-nav__container {
  padding-bottom: 50px;
}

.roomNav {
  &-container {
    @include d.flex;

    position: relative;
    padding: 0 v.$padding;

    h3 {
      text-align: center;
    }
  }

  &-images {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    justify-items: center;

    width: 100%;

    @include d.flex($dir: row, $ali: center);
  }

  &-item {
    width: 150px;
    height: 150px;
    padding: v.$padding;
    border-radius: v.$radius;

    background-color: v.$bg1;

    @include d.flex($ali: center);
  }

  &-item.background {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: v.$radius;
    object-fit: cover;
  }
}
