@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.regRequirements {
  width: fit-content;

  @include d.flex($ali: center);

  &-form {
    width: 350px;
    height: fit-content;
    padding: v.$padding;
    border: 2px solid v.$tn1T;
    border-radius: v.$radius;

    background-color: v.$bg1;

    @include d.flex;
  }

  &-section {
    justify-content: center;
    border-radius: v.$radius;

    &__error {
      display: none;
      color: v.$danger_dark;

      @include v.toDark {
        color: v.$danger;
      }
    }

    &.error &__error {
      display: block;
      margin-top: 5px;
    }
  }

  &-field {
    @include d.flex;

    input {
      width: 100%;
      padding: v.$padding * 0.7 v.$padding * 0.5;
      border: 1.5px solid v.$tn1T;
      border-radius: v.$radius;

      background-color: v.$bg2;
    }

    h5 span {
      display: block;
      margin-right: 5px;
      color: v.$danger;
    }

    h5 {
      display: inline-flex;
      width: fit-content;
      text-wrap: nowrap;
    }
  }

  &-section.error input {
    border: 2px solid v.$danger;
    outline: none !important;
  }

  &-actions {
    @include d.flex;
  }

  &-btn {
    justify-content: center;

    padding: v.$padding * 0.5 v.$padding;
    border: 1.5px solid v.$tn1T;
    border-radius: v.$radius;

    font-size: v.$fH5;
    font-weight: bold;

    background-color: v.$bg2;

    @include d.flex($dir: row, $gap: 5px);

    &.submit {
      color: v.$bg1;
      background-color: v.$tn1;
    }

    &.inactive {
      color: v.$fn2;
      background-color: v.$tn1T;
    }
  }
}
