@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.roomItem {
  position: relative;

  justify-content: center;

  width: 310px;
  height: fit-content;
  padding: v.$padding;
  border: 1.5px solid v.$bg2;
  border-radius: v.$radius;

  @include d.flex($ali: center, $gap: v.$padding * 1.5);

  background-color: v.$bg2;

  // image
  &-header {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 200px;
    border-radius: v.$radius;
  }

  &-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: v.$imgFilter;
  }

  &-images {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: fit-content;

    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);
  }

  &-image {
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: v.$radius;

    object-fit: cover;
    background-color: v.$bg1;

    img {
      border-radius: v.$radius;
    }
  }

  // Details
  &-details,
  &-services,
  &-service {
    @include d.flex($ali: center, $gap: v.$padding * 0.5);
  }

  &-details {
    width: 100%;
    text-align: center;
  }

  &-services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &-service {
    flex-direction: row;
    gap: 5px;

    width: auto;
    padding: v.$padding * 0.5;
    border-radius: v.$radius;

    color: v.$fn2;

    background-color: v.$bg1;

    &.price {
      h5 {
        color: v.$success_dark;
      }

      svg {
        color: v.$success_dark;
      }
    }
  }

  // Actions
  &-actions {
    width: 100%;

    @include d.flex($gap: v.$padding * 0.5);
  }

  &-action {
    @include d.flex($dir: row, $ali: center, $gap: 5px);

    justify-content: center;
  }

  &-reserve {
    color: v.$bg1;
    background-color: v.$tn1;
  }

  &-calendar {
    color: v.$fn1;
    background-color: v.$bg1;
  }
}
