@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/scrollbar' as *;
@use '@sass/utils/transitions' as t;

$dashboardMenuSize: 40px;

// international nav styles
.dashboard-nav {
  position: relative;
  height: 100%;

  // min-width: 250px; <-- one nav have an different width and height
  // max-width: 250px; <--ç
  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;

    background-color: transparent;
    box-shadow: 8px -8px 0 8px v.$bg2;
  }

  &__container {
    @extend %scroll-hidden;

    overflow: auto;
    justify-content: flex-start;
    height: 100%;
    padding: v.$padding * 1.2 v.$padding;

    @include d.flex;
  }

  &-static-menu {
    position: absolute;
    z-index: 10;
    top: v.$padding;
    right: v.$padding;

    justify-content: flex-end;

    padding: v.$padding * 0.5;
    border-radius: v.$radius;

    background-color: v.$bg1;

    @include d.flex($dir: row);

    span {
      background-color: v.$bg1;
    }
  }

  &.show-menu {
    .dashboard-menu {
      transform: scale(1);
      visibility: visible;
      opacity: 1;
    }
  }
}

.dashboard-menu {
  position: absolute;
  z-index: 10;
  right: calc(-1 * $dashboardMenuSize - v.$padding - 5px); // <-- it's calculate (size - padding - gap)

  bottom: 20px;
  transform: scale(0);

  display: grid;
  place-content: center;

  width: $dashboardMenuSize;
  height: $dashboardMenuSize;
  border-radius: 50%;

  visibility: hidden;
  opacity: 0;
  background-color: v.$tn1;

  transition: t.$pong;
}
