@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.currentRoom {
  &-continue {
    min-width: 200px;
  }
  &-services {
    max-width: 900px;
    width: fit-content;
    @include d.flex($dir: row);
    flex-wrap: wrap;
    justify-content: center;
    background-color: v.$bg1;
    border-radius: v.$radius;
  }
  &-service {
    @include d.flex($dir: row, $ali: center);
    color: v.$fn2;
  }
}
