@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.currentRoom {
  &-continue {
    min-width: 200px;
  }

  &-services {
    flex-wrap: wrap;
    justify-content: center;

    width: fit-content;
    max-width: 900px;
    border-radius: v.$radius;

    background-color: v.$bg1;

    @include d.flex($dir: row);
  }

  &-service {
    @include d.flex($dir: row, $ali: center);

    color: v.$fn2;
  }
}
