@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.currentRoom {
  &-continue {
    margin: auto;
  }
  &-services {
    max-width: 70%;
    width: fit-content;
    @include d.flex($dir: row);
    flex-wrap: wrap;
    justify-content: center;
    background-color: v.$bg2;
    border-radius: v.$radius;
    padding: v.$padding;
    margin: 0 auto;
  }
  &-service {
    @include d.flex($dir: row, $ali: center);
  }
}
