@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

body.dark {
  h4.roomDetails-characteristic {
    color: v.$success;
  }
}

.roomDetails {
  @include d.flex($ali: center);

  position: relative;

  min-width: 900px;
  max-width: fit-content;
  height: auto;
  padding: v.$padding * 2 0;
  border-radius: v.$radius;

  text-align: center;

  background-image: linear-gradient(0deg, transparent, v.$bg1 50%);

  .slugs {
    position: absolute;
    top: 5px;
    right: 10px;

    @include d.flex($ali: flex-end, $gap: v.$padding);
  }

  &-container {
    @include d.flex($dir: row);
  }

  h1.title {
    position: relative;
    display: block;
  }

  &-characteristic,
  &-calendar,
  &-dolar {
    @include d.flex($dir: row, $gap: 5px, $ali: center);

    justify-content: center;
  }

  &-dolar {
    padding: v.$padding * 0.5 v.$padding;
    border-radius: v.$radius;
    color: v.$success;
    background-color: v.$success_dark;
  }

  &-calendar {
    padding: v.$padding * 0.5 v.$padding;
    border-radius: v.$radius;
    background-color: v.$tn1;

    h4 {
      color: v.$bg1;
    }

    svg {
      stroke: v.$bg1;
    }
  }

  &-description {
    max-width: 500px;

    font-size: v.$fH4;
    font-weight: 500;
    text-align: center;
    text-wrap: wrap;
  }
}
