@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

body.dark {
  h4.roomDetails-characteristic {
    color: v.$success;
  }
}
.roomDetails {
  @include d.flex($ali: center);
  border-radius: v.$radius;
  height: auto;
  margin: 0 auto;
  max-width: fit-content;
  min-width: 900px;
  padding: v.$padding * 2 0;
  position: relative;
  text-align: center;

  h1.title {
    display: block;
    position: relative;
  }
  &-characteristic {
    @include d.flex($dir: row, $gap: 5px, $ali: center);
  }
  h3.roomDetails-characteristic {
    color: v.$success_dark;
    font-weight: 500;
  }
}
