@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.reservationNav {
  padding: 0 v.$padding;
  background-image: linear-gradient(0deg, v.$tn1T 10%, v.$bg2 100%);

  &-submit {
    padding: v.$padding * 0.8 0;
    border-radius: v.$radius;

    font-size: v.$fH5;
    font-weight: 600;

    background-color: v.$bg2;
  }

  &-form.ok {
    border: 2px solid v.$tn1;

    .reservationNav-submit {
      color: v.$bg1;
      background-color: v.$tn1;
    }
  }

  &-precaution {
    font-weight: 300;

    a {
      color: v.$tn1;
    }
  }

  &-id {
    padding: 5px 10px;
    border: 2px solid v.$tn1T;
    border-radius: 5px;

    font-size: v.$fH5;
    text-align: center;

    background-color: v.$bg2;
  }

  &-form {
    @include d.flex;

    padding: v.$padding;
    border-radius: v.$radius;
    background-color: v.$bg1;
    background-image: linear-gradient(0deg, v.$tn1T 10%, v.$bg2 100%);

    &__section {
      padding: v.$padding * 0.5;
      border: 1px solid transparent;
      border-radius: v.$radius;

      @include d.flex($gap: 10px);

      &.error {
        border-color: v.$danger_dark;
        background-color: rgba(v.$danger, 0.5);
      }

      &__error {
        color: v.$danger_dark;
        color: green;
      }

      textarea {
        width: 100%;
        height: 100px;
        padding: 10px;
        border-radius: v.$radius;

        background-color: v.$bg1;
      }
    }

    &__select {
      cursor: pointer;

      position: relative;

      display: grid;

      width: 100%;
      min-height: 50px;

      background-color: v.$bg1;

      &::after {
        pointer-events: none;
        content: '➽';

        position: absolute;
        top: calc(50% - 5px);
        right: 10px;
        transform: translateX(-50%);
        rotate: 90deg;

        color: v.$dis1;

        animation: oscillation 0.5s ease infinite alternate paused;
      }

      select {
        cursor: pointer;

        padding: v.$padding;
        border-radius: v.$radius;

        appearance: none;
        background-color: transparent;
        outline: 0;

        &::-ms-expand {
          display: none;
        }
      }

      &.auto {
        select {
          background-color: v.$dis2;
        }
      }
    }
  }
}
