@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.main {
  width: 100%;
  height: auto;
  padding: v.$padding;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  &-content {
    min-height: 50dvh;
    width: 100%;
    background-color: v.$bg2;
    padding: v.$padding;
  }
  &-speed {
    display: grid;
    height: 30px;
    place-content: center;
    width: 100%;
    background-image: v.$gr1;
    color: v.$bg1;
    text-align: center;
  }
  &-static-header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom right, v.$bg1 50%, rgba(27, 12, 30, 0.15));
    @include v.toDark {
      background: linear-gradient(to bottom right, v.$bg1 50%, rgba(0, 0, 0, 0.942));
    }
    &::before {
      content: '';
      z-index: -2;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      background: linear-gradient(to right, v.$dis2 1px, transparent 1px),
        linear-gradient(to bottom, v.$dis2 1px, transparent 1px);
      background-size: 6rem 4rem;
      height: 100vh;
    }
  }
  &-background {
    display: block;
    margin: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
}
