@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.main {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: auto;
  padding: v.$padding;

  background-color: transparent;

  &-content {
    width: 100%;
    min-height: 50dvh;
    padding: v.$padding;
    background-color: v.$bg2;
  }

  &-speed {
    display: grid;
    place-content: center;

    width: 100%;
    height: 30px;

    color: v.$bg1;
    text-align: center;

    background-image: v.$gr1;
  }

  &-static-header {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    overflow: hidden;

    width: 100%;
    height: 100vh;

    background: linear-gradient(to bottom right, v.$bg1 50%, rgb(27 12 30 / 15%));

    @include v.toDark {
      background: linear-gradient(to bottom right, v.$bg1 50%, rgb(0 0 0 / 94.2%));
    }

    &::before {
      content: '';

      position: absolute;
      z-index: -2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100vh;

      background:
        linear-gradient(to right, v.$dis2 1px, transparent 1px), linear-gradient(to bottom, v.$dis2 1px, transparent 1px);
      background-size: 6rem 4rem;
    }
  }

  &-background {
    display: block;
    margin: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
}
