@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.home {
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  &-content {
    height: 100vh;
    padding: 50px v.$padding;
  }
  &-speed {
    display: grid;
    height: 30px;
    place-content: center;
    width: 100%;
    background-color: v.$tn1;
    color: v.$bg1;
    text-align: center;
  }
  &-static-header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to top, v.$bg1, transparent 20%);

    &::before {
      content: '';
      z-index: -2;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      background: linear-gradient(to right, v.$bg2 1px, transparent 1px),
        linear-gradient(to bottom, v.$bg2 1px, transparent 1px);
      background-size: 6rem 4rem;
      height: 100vh;
    }
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      animation: rotateAfterElement 1s ease-in-out infinite alternate;
      background: radial-gradient(
        circle 500px at 100% 100px,
        rgb(112, 61, 230) 0%,
        v.$tn2 50%,
        transparent
      );
      @keyframes rotateAfterElement {
        from {
          transform: translateY(0);
        }
        from {
          transform: translateY(-50px);
        }
      }
    }
  }
  &-background {
    display: block;
    margin: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
}
