@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.headerApp {
  width: 100%;
  min-height: 550px;
  @include d.flex($ali: center);
  justify-content: center;
  &-starts {
    @include d.flex($dir: row, $ali: center);
    svg.active {
      fill: #f8d34c;
      stroke: #f8d34c;
    }
  }
  p,
  h4,
  h1 {
    text-align: center;
  }
  h4 {
    font-weight: 300;
  }
  h1 {
    font-size: v.$fXl;
    text-transform: capitalize;
  }
  &-go {
    padding: v.$padding v.$padding * 2.5;
    border-radius: v.$radius;
    background-color: v.$tn1;
    color: v.$bg1;
    font-size: v.$fH5;
    font-weight: 600;
  }
}
