@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.headerApp {
  width: 100%;
  min-height: 70dvh;
  @include d.flex($ali: center);
  justify-content: center;
  &-starts {
    @include d.flex($dir: row, $ali: center);
    svg.active {
      fill: v.$tn1;
      stroke: v.$tn1;

      scale: 1.5;
    }
  }
  p,
  h4,
  h1 {
    text-align: center;
  }
  h4 {
    font-weight: 300;
  }
  h1 {
    font-size: v.$fXl;
    text-transform: capitalize;
  }
  &-go {
    @include d.flex($dir: row, $ali: center, $gap: 10px);
    font-size: v.$fH3;
    font-weight: 600;
  }
}
