@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/config/index' as i;

.landingNav {
  position: sticky;
  z-index: i.$nav;
  top: 0;

  justify-content: space-evenly;

  height: 60px;
  padding: v.$padding;

  background-color: v.$bg1;
  backdrop-filter: opacity(0.5);

  &-menu {
    pointer-events: none;
    user-select: none;

    position: fixed;
    z-index: i.$nav-menu;
    top: 25px;
    right: 25px;

    display: none;

    padding: 5px;
    border-radius: v.$radius;

    background-color: v.$tn1;
  }

  &,
  &-link,
  &-paths {
    @include d.flex($dir: row, $ali: center);
  }

  &-brand {
    text-align: center;

    span {
      font-size: 0.8em;
      text-transform: uppercase;
    }
  }

  &-link {
    justify-content: center;
    border: 2px solid v.$bg1;
    border-radius: 5px;
    background-color: transparent;

    &.active {
      border-color: v.$tn1;

      &,
      p {
        color: v.$tn1;
      }
    }
  }
}
