@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '@styles/config/index' as i;

.landingNav {
  height: 60px;
  justify-content: space-evenly;
  backdrop-filter: opacity(0.5);
  position: sticky;
  top: 0;
  z-index: i.$nav;
  background-color: v.$bg1;
  padding: v.$padding;
  &-menu {
    user-select: none;
    pointer-events: none;
    display: none;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: i.$nav-menu;
    background-color: v.$tn1;
    border-radius: v.$radius;
    padding: 5px;
  }
  &,
  &-link,
  &-paths {
    @include d.flex($dir: row, $ali: center);
  }
  &-brand {
    text-align: center;
    span {
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }
  &-link {
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid v.$bg1;
    &.active {
      border-color: v.$tn1;
      &,
      p {
        color: v.$tn1;
      }
    }
  }
}
