@use '@styles/config/vars' as v;
@use '@styles/utils/media' as m;
@use '@styles/utils/transitions' as t;

@include m.extraLargeScreen() {
  .landingNav {
    width: 100%;
    padding: v.$padding v.$padding * 1.5;
  }
}

@include m.largeScreen() {
  .landingNav {
    position: fixed;
    height: 100vh;
    background-color: v.$bg1;
    justify-content: center;
    transition: clip-path 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    top: 0;
    right: 0;
    clip-path: circle(0% at 100% 0%);
    &.show-menu {
      clip-path: circle(150% at 50% 50%);
    }
    &-brand {
      h2 {
        font-size: 3em;
      }
      span {
        font-size: v.$fH5;
      }
    }
    &-menu {
      user-select: all;
      pointer-events: all;
      display: block;
    }
    &,
    &-paths {
      flex-direction: column;
    }
    &-paths {
      align-items: self-start;
    }
    &-link {
      &.active {
        border: none;
        &,
        p {
          color: v.$tn1;
        }
      }
    }
    &-account {
      button {
        &:last-child {
          background-color: v.$tn1;
          color: white;
        }
      }
    }
  }
}
