@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.roomsRecommendations {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-radius: v.$radius;

  @include d.flex($ali: center, $dir: row);
}
