@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.roomsRecommendations {
  width: 100%;
  max-width: 900px;
  height: auto;
  padding: v.$padding;
  border-radius: v.$radius;

  background-color: v.$bg1;

  @include d.flex($ali: center);
}
