@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.RCalendar {
  width: 900px;
  min-height: 700px;
  padding: v.$padding;
  border-radius: v.$radius;

  background-color: v.$bg1;

  @include d.flex($ali: center);

  .rbc-month-view,
  .rbc-month-row,
  .rbc-header,
  .rbc-day-bg {
    border: 2px solid v.$tn1T;
  }

  .rbc-date-cell {
    padding: 10px;
    font-weight: 600;
    color: v.$fn1;
  }

  .rbc-today {
    background-color: v.$tn1T;
  }

  .rbc-off-range-bg {
    opacity: 0.3;
    background-color: v.$dis2;
  }

  .rbc-header {
    padding: 10px;

    span {
      font-size: v.$fH5;
      font-weight: 500;
    }
  }

  .rbc-btn-group {
    @include d.flex($dir: row);

    button {
      padding: 8px v.$padding;
      border: 2px solid v.$tn1T;
      border-radius: v.$radius;

      color: v.$fn1;

      background-color: v.$bg2;

      &:hover {
        border-color: v.$tn1;
        background-color: v.$bg2;
      }
    }
  }
}

.rbc-event {
  padding: 0;
  background: none;
}

.calendarItem {
  position: relative;
  padding: 5px;
  border-radius: v.$radius;
  background-color: v.$bg1;

  @include d.flex($dir: row, $gap: v.$padding * 0.5);

  h5 {
    color: v.$fn1;
  }

  &.owner {
    background-color: v.$tn1;

    h5 {
      color: v.$bg1;
    }

    svg {
      stroke: v.$bg1;
    }
  }

  &-avatar {
    border-radius: v.$radius;
  }
}
