@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/config/extraColors' as extra;

.TCDateCrossing {
  width: 100%;
  margin-bottom: v.$padding;
  text-align: center;

  &,
  &-container {
    padding: v.$padding;

    @include d.flex($ali: center);
  }

  &-container {
    max-width: 100%;
    border: 2px solid v.$tn1T;
    border-radius: v.$radius;
    background-color: v.$bg2;
  }

  &-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
  }

  &-date {
    @include d.flex($dir: row, $ali: center);

    position: relative;
    padding: 5px 0;

    h4 {
      padding: v.$padding * 0.5;
      border-radius: v.$radius * 1.6;
      color: v.$fn2;
      background-color: v.$bg2;
    }

    &.busy h4 {
      color: v.$bg1;
      background-color: v.$tn1;
    }

    &.select h4 {
      color: v.$success_dark;
      background-color: v.$success;
    }

    &.cross h4 {
      color: v.$danger_dark;
      background-color: v.$danger;
    }
  }

  &-image {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
