@use '@sass/config/vars' as v;
@use '@sass/config/extraColors' as extra;
@use '@sass/utils/defs' as d;
@use 'sass:color';

.tooltip {
  &-tag {
    display: block;

    height: fit-content;
    padding: v.$padding * 0.6 v.$padding;
    border-radius: v.$radius;

    font-size: v.$fH5;

    background-color: v.$bg2;
  }

  &-float {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: -30%;
    transform: translateX(50%);

    width: 200px;
    padding: v.$padding * 0.3 v.$padding;
    border-radius: v.$radius;

    text-wrap: wrap;

    opacity: 0;

    transition:
      top 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }

  &-container {
    position: relative;
    height: auto;

    &:hover .tooltip-float {
      top: -100%;
      visibility: visible;
      opacity: 1;
      animation: shake 0.3s ease-in-out forwards;
    }

    @each $tag, $value in extra.$listSlugs {
      &#{$tag} {
        .tooltip-float {
          color: color.adjust($value, $lightness: -70%);
          background-color: $value;
        }

        @include v.toDark {
          .tooltip-float {
            background-color: color.adjust($value, $lightness: -15%);
          }
        }
      }
    }
  }

  @keyframes shake {
    0% {
      transform: rotate(2deg);
    }

    50% {
      transform: rotate(-3deg);
    }

    70% {
      transform: rotate(3deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}
