@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.characteristic {
  max-width: 200px;
  height: 80px;
  padding: 0 v.$padding * 1.5;
  border-radius: v.$radius;
  margin: 0 v.$padding;
  @include d.flex($ali: center, $dir: row);
  justify-content: center;
  background-color: v.$bg1;
  user-select: none;
  pointer-events: none;
  p {
    text-wrap: wrap;
    text-align: center;
  }
}
