@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.characteristic {
  pointer-events: none;
  user-select: none;

  justify-content: center;

  max-width: 200px;
  height: 80px;
  margin: 0 v.$padding;
  padding: 0 v.$padding * 1.5;
  border-radius: v.$radius;

  background-color: v.$bg1;

  @include d.flex($ali: center, $dir: row);

  p {
    text-align: center;
    text-wrap: wrap;
  }
}
