@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.requirementsRoom {
  @include d.flex;
  padding-bottom: v.$padding * 3;
  .subtitle {
    text-align: center;
  }
  &-actions {
    @include d.flex($dir: row, $ali: center);
    justify-content: center;
    a {
      font-size: v.$fH5;
      font-weight: 500;
    }
    a:last-child {
      background-color: v.$tn1;
      color: v.$bg1;
    }
    a:first-child {
      background-color: v.$bg2;
    }
  }
}
