@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/hover' as h;

.back {
  width: 100%;

  svg {
    display: block;
  }

  &-action {
    scale: 1;

    width: fit-content;
    margin-left: 0;
    padding: v.$padding * 0.7 v.$padding;
    border: 1.5px dashed v.$tn1;
    border-radius: v.$radius;

    background-color: v.$bg1;

    transition: scale 0.3s ease-in-out;

    @include d.flex($ali: center, $gap: 0);

    h3 {
      text-transform: uppercase;
    }

    &:hover {
      scale: 1.05;

      svg,
      h3 {
        color: v.$tn1;
      }
    }
  }

  &.row a {
    @include d.flex($dir: row, $ali: center, $gap: v.$padding * 0.5);
  }
}
