@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '@styles/utils/hover' as h;

.back {
  width: 100%;
  &-action {
    background-color: v.$bg1;
    padding: v.$padding;
    border-radius: v.$radius;
    @include d.flex($ali: flex-start);
    margin-left: 0;
  }
  &.row button {
    @include d.flex($dir: row, $ali: center);
  }
  svg {
    display: block;
  }
}
