@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '@styles/config/extraColors' as extra;

.totalCalculate {
  width: 750px;
  margin: auto;
  @include d.flex($dir: row);
  justify-content: space-around;
  &-days,
  &-total {
    @include d.flex;
    padding: v.$padding;
  }
  &-days {
    width: 35%;
  }
  &-total {
    width: 65%;
    background-color: v.$bg2;
    border-radius: v.$radius;
  }
  &-separator {
    @include d.flex($gap: v.$padding * 0.5);
    width: 100%;
    &.polices a {
      color: v.$fn2;
      font-style: italic;
    }
  }
  &-container {
    &.time,
    &.subtotal,
    &.igv,
    &.service {
      @include d.flex($dir: row, $ali: center);
    }

    &.subtotal,
    &.igv,
    &.service,
    .total {
      justify-content: space-between;
    }
    &.time {
      flex-wrap: wrap;
      button {
        background-color: v.$bg2;
      }
      button.active {
        background-color: v.$tn1;
        color: v.$bg1;
      }
    }
    &.total {
      margin: v.$padding 0;
      h2 {
        color: v.$success_dark;
      }
      .total-title {
        @include d.flex($dir: row, $ali: center, $gap: 5px);
        .tach {
          display: inline-flex;
          text-decoration: line-through 2.5px;
          @include v.color(v.$danger, text-decoration-color);
        }
      }
    }
  }
  &-date {
    background-color: v.$bg2;
    font-size: v.$fH5;
    font-weight: 400;
    user-select: none;
    cursor: pointer;
    outline: none;
  }
  &-progress {
    width: 100%;
    height: 10px;
    border-radius: v.$radius;
    display: none;
    &[value] {
      appearance: none;
      background-color: v.$bg1;
    }
  }
  @each $tag, $value in extra.$listStayUsers {
    &-total {
      &#{$tag} {
        border: 1.5px solid darken($value, 20);
      }
    }
    &-progress {
      &#{$tag} {
        display: block;
        border: 1.5px solid $value;
        &::-webkit-progress-value,
        &::-moz-progress-bar {
          background-color: darken($value, 20);
        }
      }
    }
  }
}

body.dark .totalCalculate-container {
  &.total {
    h2 {
      color: v.$success;
    }
  }
}
