@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;

.characteristic {
  min-width: 200px;
  height: 70px;
  padding: 0 v.$padding * 1.5;
  border-radius: v.$radius;
  background-color: v.$bg1;
  margin: 0 v.$padding;
  @include d.flex($dir: row, $ali: center);
  justify-content: center;
}
