@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;

.footer {
  justify-content: center;

  width: 100%;
  min-height: 150px;
  padding: v.$padding * 3 v.$padding * 2;
  border-radius: v.$radius;

  background-color: v.$bg2;

  @include d.flex;

  &-container {
    justify-content: space-between;
    width: 100%;

    @include d.flex($dir: row, $ali: center);
  }

  &-paths {
    @include d.flex($ali: right, $gap: 5px);

    text-align: right;
  }
}
