@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '../../setCalculateMainSize' as calculate;
@use '@styles/utils/scrollbar' as *;
@use '@styles/utils/transitions' as t;

$navSize: 400px; //<-- important

.reservationNav {
  min-width: $navSize;
  max-width: $navSize;
}

.dashboard-main.reservation {
  @include calculate.setCalculateMainSize($navSize);
  .dashboard-body {
    @include d.flex($dir: row, $gap: 0);
    overflow: hidden;
    padding: 0;
    position: relative;
    &__reservations {
      width: 100%;
    }
    &__details {
      position: absolute;
      top: 0;
      right: -600px;
      background-color: v.$bg1;
      height: 100%;
      width: 500px;
      max-width: 500px;
      transition: t.$pong;
      transition: all 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86);
      border-radius: v.$radius;
      padding: v.$padding;
      z-index: 1;
      border: 1.5px solid v.$tn1T;
      &.active {
        right: 0;
      }
    }
  }
}
