@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '../../setCalculateMainSize' as calculate;
@use '@sass/utils/scrollbar' as *;
@use '@sass/utils/transitions' as t;

$navSize: 400px; // <-- important

.reservationNav {
  min-width: $navSize;
  max-width: $navSize;
}

.dashboard-main.reservation {
  @include calculate.setCalculateMainSize($navSize);

  .dashboard-body {
    @include d.flex($dir: row, $gap: 0);

    position: relative;
    overflow: hidden;
    padding: 0;

    &__reservations {
      width: 100%;
    }

    &__details {
      @extend %scroll-hidden;

      position: absolute;
      z-index: 1;
      top: 0;
      right: -600px;

      overflow: auto;

      max-width: 350px;
      height: 100%;
      padding: v.$padding;
      padding-bottom: v.$padding * 3;
      border: 1.5px solid v.$tn1;
      border-radius: v.$radius;

      background-color: v.$bg2;

      transition: all 0.7s cubic-bezier(0.79, 0.14, 0.15, 0.86);
      transition: all t.$pong;

      @include d.flex($ali: center);

      &.active {
        right: 0;
      }
    }
  }
}
