@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '../../setCalculateMainSize' as calculate;

$navSize: 420px; //<-- important

.reservationNav {
  min-width: $navSize;
  max-width: $navSize;
}

.dashboard-main.reservation {
  @include calculate.setCalculateMainSize($navSize);
  .dashboard-body {
    @include d.flex($dir: row);
    padding: 0 v.$padding;
    background-color: transparent;
  }
}
