@use '@sass/config/vars' as v;
@use '@sass/utils/defs' as d;
@use '@sass/utils/transitions' as t;

.dashboard {
  @include d.flex($gap: 0, $ali: stretch);

  position: relative;
  z-index: 1;

  overflow: hidden;

  width: 100%;
  height: 100vh;

  background-color: v.$bg2;

  &::before {
    content: '';

    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: radial-gradient(150% 90% at 50% 0%, v.$tn1T 0%, v.$bg2 10%, v.$tn1T 30%, v.$tn1T 50%, v.$tn1T 120%);
  }
}

.dashboard-main {
  @include d.flex($dir: row, $gap: 0);

  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  transition: left t.$pong;
}

.dashboard-body {
  position: relative;

  overflow: auto;

  width: 100%;
  height: 98%;
  padding: v.$padding;
  border-end-start-radius: v.$radius * 2.5;

  background-color: v.$bg2;
  background-image: linear-gradient(0deg, v.$tn1T 10%, v.$bg2 100%);

  @include d.flex($ali: center);
}
