@use '@styles/config/vars' as v;
@use '@styles/utils/defs' as d;
@use '@styles/utils/transitions' as t;

.dashboard {
  @include d.flex($gap: 0, $ali: stretch);
  background-color: v.$bg2;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

// international main styles
.dashboard-main {
  @include d.flex($dir: row, $gap: 5px);
  height: calc(100% - 50px);
  left: 0;
  position: relative;
  transition: t.$pong;
  width: 100%;
}

//international body styles
.dashboard-body {
  background-color: v.$bg1;
  border-top-left-radius: v.$radius * 2.5;
  padding: v.$padding;
  width: 100%;
  overflow: auto;
}
